
.k-grid-header .k-header {
  position: relative;
  vertical-align: middle;
}

.k-header > span > span {
  place-content: center;
}
.k-grid-footer, .k-grid-header{
  padding:0;
}
/* end of edit */
.k-header > .k-cell-inner {
  margin:0 !important;
}
.k-grid-header-wrap tr {
  background:#fd0;
}
.k-grid-header-wrap tr.k-filter-row {
  background: #555!important;
  color:white;
}