
html, #root, body, * {
  font-family: 'Roboto Condensed', fantasy !important;
  line-height: 1;
  box-sizing: border-box;
}
.no-scrollbar::-webkit-scrollbar {
  width: 0;
}
.no-scrollbar::-webkit-scrollbar-track {
  display: none;
  visibility: hidden;
}
.no-scrollbar::-webkit-scrollbar-thumb {
  display: none;
  visibility: hidden;
}
.hover-orange:hover {
  color:#FF6701;
}